html {
    font-family: Open Sans Semi-Light, Verdana, sans-serif;
}

body {
    background-image: url('../illustrations/Website-Background.jpg');
    margin-top: 0px;
}


img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
